<div class="search_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="search_taital">Search Your Best Cars</h1>
        <p class="search_text">Using 'Content here, content here', making it look like readable</p>
        <!-- select box section start -->
        <div class="container">
          <div class="select_box_section">
            <div class="select_box_main">
              <div class="row">
                <div class="col-md-3 select-outline">
                  <select class="mdb-select md-form md-outline colorful-select dropdown-primary">
                    <option value="" disabled selected>Any Brand</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                  </select>
                </div>
                <div class="col-md-3 select-outline">
                  <select class="mdb-select md-form md-outline colorful-select dropdown-primary">
                    <option value="" disabled selected>Any type</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                  </select>
                </div>
                <div class="col-md-3 select-outline">
                  <select class="mdb-select md-form md-outline colorful-select dropdown-primary">
                    <option value="" disabled selected>Price</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <div class="search_btn"><a href="#">Search Now</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- select box section end -->
      </div>
    </div>
  </div>
</div>
